body {
	font: 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
}

h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

.color1,
.color2 {
	width: 100px;
	height: 100px;
	padding:  0;
	overflow: hidden;
	border:	none;
	background-color: transparent;
}

input[type=color]:hover {
	cursor: pointer;
}


#buttonRandom {
	display: block;
	margin: 15px auto;
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,.5);
	border-radius: 5px;
	padding: 5px 10px;
	outline: none;
	border: none;
}

button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}